@{
    ViewData["Title"] = "Каталог";
}
@model List<Book>

<table class="col-md-4">
    @{
        for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <a asp-controller="books" asp-action="Show" asp-route-id="@Model[i].Id">
                        <div class="BookBackground">
                            <img class="BookImage" src=@Model[i].BookImagePath alt="Изображение не найдено">
                            <p class="Price"> @Model[i].BookPrice </p>
                            <p class="BookName"> @Model[i].BookName </p>
                        </div>
                    </a>
                </td>
                @if (i + 1 != Model.Count)
                {
                    <td>
                        <a asp-controller="books" asp-action="Show" asp-route-id="@Model[i+1].Id">
                            <div class="BookBackground">
                                <img class="BookImage" src=@Model[i].BookImagePath alt="Изображение не найдено">
                                <p class="Price"> @Model[i+1].BookPrice </p>
                                <p class="BookName"> @Model[i+1].BookName </p>
                            </div>
                        </a>
                    </td>
                }
            </tr>
            i++;
        }
    }
</table>