@model BookMarket.Address

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrHouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrHouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrEntrance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrEntrance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrApartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrApartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrIsDefault)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrIsDefault)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AddressId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
