@model IEnumerable<BookMarket.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    @if (User.IsInRole("1"))
    {
        <button onclick="handlerEdit()">Edit</button>
        <button onclick="handlerDetails()">Details</button>
        <button onclick="handlerDelete()">Delete</button>
    }
    else
    {
        <button onclick="handlerDetails()">Details</button>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegalEntity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr onclick="selectRow(@item.BookId)" id="@item.BookId">
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalEntity.LegalEntityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phouse.PhouseId)
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
        var selectedId;
        function selectRow(idObject) {
            if (selectedId) {
                document.getElementById(selectedId).className = "";
            }
            selectedId = idObject;
            document.getElementById(idObject).className = "active-row";
        }

        function handlerDetails() {
            if (selectedId) {
                window.location.href = "/Books/Details/" + selectedId;
            }
        }

        function handlerDelete() {
            if (selectedId) {
                window.location.href = "/Books/Delete/" + selectedId;
            }
        }

        function handlerEdit() {
            if (selectedId) {
                window.location.href = "/Books/Edit/" + selectedId;
            }
        }
    </script>
}
