@model BookMarket.Book

@{
    ViewData["Title"] = "Details";
    int rat = Convert.ToInt32(Model.BookRating);
}

<img src="D:\intro_logo.svg" alt="Изображение не найдено">

<h1>@Html.DisplayFor(model => model.BookName)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.BookPrice) &#8381</h4>
    <hr />
    @for (int i = 0; i < rat; i++)
    {
        <a>&#x2605</a>
    }
    @for (int i = rat; i < 5; i++)
    {
        <a>&#x2730</a>
    }

    <dl class="row">
        <dt class = "col-sm-2">
            Осталось книг:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookAmount)
        </dd>
        <dt class = "col-sm-2">
            Описание:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookImagePath)
        </dd>
        <dt class = "col-sm-2">
            Продавец:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalEntity.LegalEntityId)
        </dd>
        <dt class = "col-sm-2">
            Издательство:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phouse.PhouseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
