@model BookMarket.Book

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.BookName);
    int rat = Convert.ToInt32(Model.BookRating);
}

<img src="D:\intro_logo.svg" alt="Изображение не найдено">

<h1>@Html.DisplayFor(model => model.BookName)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.BookPrice) &#8381</h4>
    <hr />
    @for (int i = 0; i < rat; i++)
    {
        <a>&#x2605</a>
    }
    @for (int i = rat; i < 5; i++)
    {
        <a>&#x2730</a>
    }

    <dl class="row">
        @if (Model.BookAmount == 0)
        {
            <dt class="col-sm-2">
                Нет в наличии
            </dt>
            <dd class="col-sm-10">
                
            </dd>
        }
        else if(Model.BookAmount < 100)
        {
            <dt class="col-sm-2">
                Осталось книг:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookAmount)
            </dd>
        }
        <dt class = "col-sm-2">
            Продавец:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalEntity.LegalEntityId)
        </dd>
        <dt class = "col-sm-2">
            Издательство:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phouse.PhouseId)
        </dd>
        <dt class="col-sm-2">
            Описание:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookDescription)
        </dd>
    </dl>
</div>

<h2>Всего комментариев: @ViewBag.feedbacks.Count</h2>
<ul>
    @foreach (var comment in ViewBag.feedbacks)
    {
        <li>@comment.FbDescription;</li>
    }
</ul>