@model BookMarket.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccPhoneRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccPhoneRegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccHashPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccHashPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.TypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
